    <div class="col-sm-3">
        <div class="filter-list">
            <h3>MBT Categories</h3>
            <ul>
                    <li><a href="?cat_id=">Show All</a></li>
                {{#mbtSubCategories}}   
                    <li><a href="{{{link}}}">{{{name}}}</a></li>
                {{/mbtSubCategories}}   
            </ul>
        </div>
    </div>
</div>