<div class="loading">
    <div class="loader" >
        <div class="circle" id="a"></div>
        <div class="circle" id="b"></div>
        <div class="circle" id="c"></div>
    </div>
    <div class="caption">Joining...</div>
</div>