.tutor-section{
    margin-top:30px;
    margin-bottom:80px;
}
#tutors thead{
    display: none;
}
#tutors tbody tr:last-child td{
    border-bottom: 1px solid #dee2e6;
}
.tutor-list{
    background-color: #FFF;
    border-radius: 5px;
    padding: 15px 0;
    border: 1px solid #ddd;
    width: 100%;
}
.tutor-list .dataTables_filter .form-control.form-control-sm{
    position: absolute;
    right: 20px;
    height: 45px;
    top: -11px;
    width: 100%;
}
.tutor-list .dataTables_length{
    display: none;
}
.tutor-list .dataTables_info{
    margin-left: 15px;
}
.tutor-list .dataTables_filter{
    margin-right: 15px
}
.tutor-list .dataTables_filter label{
    
}
.tutor-list .dataTables_paginate{
    margin-right: 15px !important;
}
.tutor-list .tutors-thum{
    position: relative;
    width: 100%;
    min-height: 225px;
    background: #22222275;
    border-radius: 10px;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    transition: .5s;
}
/* .tutor-list .tutors-thum:hover::after{
    content: "+";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #00000063;
    transition: .5s;
    border-radius: 10px;
    font-size: 40px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
} */
.tutor-list .description{
    margin-bottom: 50px;
}
.tutor-list .description p{
   
    overflow-y: auto;
}
.tutor-list  .tutor-bottm{
    float: left;
    position: absolute;
    right: 15px;
    bottom: 0;
    left: 15px;
}
.tutor-list  .tutor-bottm .comment{
    float: left;
    position: relative;
}
.connect-users,.comments{
    margin-right: 15px;
}
.tutor-list .free-enrol-now,.tutor-list .btn-now{
    float: right;
    background: #ff1053;
    border: 0;
    outline: none;
    color: #fff;
    font-weight: 600;
    font-size: 14px;
    padding: 5px 22px;
    border-radius: 20px;
}

.tutor-section{
    margin-top: 0;
    margin-bottom: 80px;
    box-shadow: 0 2px 12px rgb(0 0 0 / 12%);
}
#courseslist thead{
    display: none;
}
#courseslist tbody tr:last-child td{
    border-bottom: 1px solid #dee2e6;
}
.courseslist{
    background-color: #FFF;
    border-radius: 5px;
    padding: 15px 0;
    border: 1px solid #ddd;
}
.courseslist .dataTables_filter .form-control.form-control-sm{
    position: absolute;
    right: 20px;
    height: 45px;
    top: -11px;
    width: 100%;
}
.courseslist .dataTables_length{
    display: none;
}
.courseslist .dataTables_info{
    margin-left: 15px;
}
.courseslist .dataTables_filter{
    margin-right: 15px
}
.courseslist .dataTables_filter label{
    
}
.courseslist .dataTables_paginate{
    margin-right: 15px !important;
}
.courseslist .tutors-thum{
    width: 100%;
    min-height: 225px;
    background: #22222275;
    border-radius: 10px;
}
.courseslist .description{
    margin-bottom: 50px;
}
.courseslist .description p{
    height: 98px;
    overflow-y: auto;
}
.courseslist  .tutor-bottm{
    float: left;
    position: absolute;
    right: 15px;
    bottom: 0;
    left: 15px;
}
.courseslist  .tutor-bottm .comment{
    float: left;
    position: relative;
}
.connect-users,.comments{
    margin-right: 15px;
}
.courseslist .get-course{
    float: right;
    background: #ff1053;
    border: 0;
    outline: none;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    padding: 5px 15px;
    border-radius: 20px;
}
.filter-list{
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 30px;
}
.filter-list h3{
    font-weight: normal;
    padding: 0px 0 5px 0;
    font-size: 20px;
    border-bottom: 1px solid #ddd;
}
.filter-list ul li{
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}
.filter-list .form-group{
    margin: 0;
}
.filter-list ul li label{
    width: 100%;
    margin: 0;
    cursor: pointer;
}
.filter-list ul li label span{
    width: 90%;
    display: inline-block;
}
.filter-list .btn.btn-info{
    width: 100%
}
.filter-list ul li label input[type=radio]{
    float: right;    
    margin-top: 5px;
}
.filter-list ul li a{
    color: #000;
}
.loading{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #0000009c;
    z-index: 99;
    text-align: center;
    display: none;
}
.loader {
    width: 200px;
    height: 80px;
    padding-top: 40vh;
    margin: auto;
    display: flex;
  }
  .circle {
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
    animation: jump 1s linear infinite;
    margin: 0 15px;
  }
  .caption {
    margin: auto;
    font-family: arial;
    font-size: 20px;
    color: white;
  }
  #b {
    animation-delay: 0.2s;
  }
  #c {
    animation-delay: 0.4s;
  }
  @keyframes jump {
    0% {
      margin-top: 0;
    }
    35% {
      margin-top: -75px;
    }
    70% {
      margin-top: 0px;
    }
  }


#tutors td h4{
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(126, 126, 126);
    line-height: 1.714;
  }
  #tutors td  h3{
    font-size: 18px;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    line-height: 1.42857;
    color: #0a0a0a; 
}

.tutor-list .description p {
    font-size: 14px;
    font-family: "Open Sans";
    color: rgb(126, 126, 126);
    line-height: 1.714;
}

.connect-users, .comments {
    color: #6f7074;
}

#tutors_wrapper>.row:first-child{
    padding: 20px;
}

#tutors td:hover{
 background: #f9fafc;
}

#tutors td, .table th{
    padding: 1.2rem;
}

.tutors-thum.thumb .overlay {
    background-color: rgba(0, 0, 0, .4);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: none;
    cursor: pointer;
}

.tutors-thum .tag {
    background-color: #c75533;
    border-radius: 5px;
    color: #ffffff;
    font-size: 13px;
    height: 30px;
    line-height: 10px;
    margin-top: 15px;
    margin-left: 20px;
    padding: 10px;
    text-align: center;
    width: auto;
    position: absolute;
}
.tutors-thum .tc_preview_course {
    bottom: 0;
    color: #ffffff;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
}

.tutors-thum.thumb:hover .overlay {
    display: block;
  }

  #tutorslist_wrapper>.row:first-child {
    padding: 20px;
}

table.dataTable>thead .sorting:before, table.dataTable>thead .sorting:after, table.dataTable>thead .sorting_asc:before, table.dataTable>thead .sorting_asc:after, table.dataTable>thead .sorting_desc:before, table.dataTable>thead .sorting_desc:after, table.dataTable>thead .sorting_asc_disabled:before, table.dataTable>thead .sorting_asc_disabled:after, table.dataTable>thead .sorting_desc_disabled:before, table.dataTable>thead .sorting_desc_disabled:after {
    bottom: 1.4em !important;
}